@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Manrope:wght@600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans bg-gray-50;
  }
}

@layer utilities {
  .animate-pulse-slow {
    animation: pulse-slow 8s ease-in-out infinite;
  }
  
  @keyframes pulse-slow {
    0%, 100% {
      transform: translate(0, 0) scale(1);
    }
    50% {
      transform: translate(5%, 5%) scale(1.1);
    }
  }
}
